<div class="container">
    <div class="wrapper">
        <div class="card">
            <div class="img-wrapper">
                <img src="../../../assets/images.jpg" alt="">
            </div>
            <h3>Card 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel at fugit perspiciatis est, corrupti deleniti non itaque error, nam fuga repellendus eligendi, aliquam quia nostrum.</p>
            <a>Read More ...</a>
        </div>

        <div class="card">
            <div class="img-wrapper">
                <img src="../../../assets/images.jpg" alt="">
            </div>
            <h3>Card 2</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel at fugit perspiciatis est, corrupti deleniti non itaque error, nam fuga repellendus eligendi, aliquam quia nostrum.</p>
            <a>Read More ...</a>
        </div>

        <div class="card">
            <div class="img-wrapper">
                <img src="../../../assets/images.jpg" alt="">
            </div>
            <h3>Card 3</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel at fugit perspiciatis est, corrupti deleniti non itaque error, nam fuga repellendus eligendi, aliquam quia nostrum.</p>
            <a>Read More ...</a>
        </div>
    </div>
</div>